Repository canonical/grafana-k8s-operator, pull requests merged in 2025-05, with the labels that each got.

#417 chore: finalize track 1
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
  lib/charms/catalogue_k8s/v1/catalogue.py
  lib/charms/parca_k8s/v0/parca_scrape.py
  lib/charms/prometheus_k8s/v0/prometheus_scrape.py
  lib/charms/tempo_coordinator_k8s/v0/charm_tracing.py
  lib/charms/tempo_coordinator_k8s/v0/tracing.py
  lib/charms/tls_certificates_interface/v3/tls_certificates.py
  uv.lock
Labels: Libraries: OK

#416 fix: update to multi-artifact probes
  probes/README.md
  probes/relation_dashboard_uid.py
Labels: Libraries: OK

#420 feat: switch to track 2
  .github/workflows/release.yaml
  charmcraft.yaml
  pyproject.toml
  tests/integration/conftest.py
  tests/integration/test_get_password.py
  tests/integration/test_selfmonitoring_dashboard.py
  tests/integration/test_tls_web.py
  tests/integration/test_trusted_certificates.py
  tests/integration/test_upgrade_charm.py
  tests/unit/test_dashboard_consumer.py
  uv.lock
Labels: Charm Libraries: OK

#421 Refactor charm to use the `reconcile` pattern
  charmcraft.yaml
  lib/charms/grafana_k8s/v0/grafana_dashboard.py
  lib/charms/grafana_k8s/v0/grafana_source.py
  src/charm.py
  src/constants.py
  src/grafana.py
  src/grafana_client.py
  src/grafana_config.py
  src/litestream.py
  src/models.py
  src/relation.py
  tests/integration/test_grafana_auth.py
  tests/integration/test_grafana_dashboard.py
  tests/integration/test_trusted_certificates.py
  tests/unit/conftest.py
  tests/unit/test_charm.py
  tests/unit/test_config_reporting_enabled.py
  tests/unit/test_dashboard_consumer.py
  tests/unit/test_datasources.py
  tests/unit/test_external_url.py
  tests/unit/test_grafana_client.py
  tests/unit/test_grafana_metadata_implementation.py
  tests/unit/test_oauth.py
  uv.lock
Labels: Charm Libraries: Out of Sync
